@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin; /* Width of the scrollbar */
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}
::-webkit-scrollbar-thumb {
  background: tomato;/* Color of the scrollbar handle */
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

body {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
